<header>
  <nav>
    <div class="nav-item-group">
      <a href="/about" class="nav-item">About</a>
      <a href="/lesson-programs" class="nav-item">Lesson Program</a>
      <a href="/boarding" class="nav-item">Boarding</a>
    </div>
    <a href="/" class="main-title">Baldwin Stables</a>
    <div class="nav-item-group">
      <a href="/training" class="nav-item">Training</a>
      <a href="/events" class="nav-item">Events</a>
      <a href="/contact" class="nav-item">Contact Us</a>
    </div>
    <div class="nav-item-group-mobile">
      <a href="/about" class="nav-item">About</a>
      <a href="/lesson-programs" class="nav-item">Lesson Program</a>
      <a href="/boarding" class="nav-item">Boarding</a>
      <a href="/training" class="nav-item">Training</a>
      <a href="/events" class="nav-item">Events</a>
      <a href="/contact" class="nav-item">Contact Us</a>
    </div>
    <div class="hamburger">
      <div class="line line1"></div>
      <div class="line line2"></div>
      <div class="line line3"></div>
    </div>
  </nav>
</header>