.parallax{
    &#parallax1{
        background: url('../assets/slideshow/Header.jpg') no-repeat center;
        height: 475px;
        position: relative;
        transition: background .5s linear;

        &.active{
            z-index: -10;
        }

        .ss-btn{
            cursor: pointer;
            position: absolute;
            color: white;
            font-size: 1.5rem;

            &.ss-left{
                top: 50%;
                left: 2rem;
            }

            &.ss-right{
                top: 50%;
                right: 2rem;
            }
            
        }
    
    }
    &#parallax2{
        background: linear-gradient(rgba(30,55, 77, 0.5), rgba(30, 55, 77, 0.5)), url('../assets/Parallax2.jpg') no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        height: 800px;
        @include flexCenter;
        margin-bottom: 3.5rem;

        @include mobileScreen{
            background-attachment: scroll;
        }

    }

    &#parallax3{
        @include flexCenter;
        background: linear-gradient(rgba(30,55, 77, 0.5), rgba(30, 55, 77, 0.5)), url('../assets/Parallax2.jpg') no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        height: min-content;

          @include mobileScreen{
            background-attachment: scroll;
        }

    }
}