<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <!-- <script defer src="/node_modules/@fortawesome/fontawesome-free/js/all.js"></script> -->
  <script src="https://kit.fontawesome.com/421a2e0bfb.js" crossorigin="anonymous"></script>
  <title>Baldwin Stables - Error</title>
</head>

<body>
  <div class="content-wrap">
    <!-- Header / Nav Section -->
    <%- include ('../partials/header') %>
  </div>


  <footer>
  </footer>

  <script src="/js/slideshow.js"></script>
  <script src="/js/navbar.js"></script>
</body>

</html>