<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <!-- <script defer src="/node_modules/@fortawesome/fontawesome-free/js/all.js"></script> -->
    <script src="https://kit.fontawesome.com/421a2e0bfb.js" crossorigin="anonymous"></script>
    <title>Baldwin Stables - Events</title>
</head>

<body>
    <div class="content-wrap">
        <!-- Header / Nav Section -->
        <%- include ('../partials/header') %>

            <!-- Page Header Section -->
            <section class="page-title-container about container">
                <h1 class="page-title">Events</h1>
            </section>

            <!-- Page Content #1 -->
            <section class="container events">
                <p class="events-header-title">Events and much more...</p>
                <div class="row">
                    <div class="column">
                        <p class="events-text">
                            At Baldwin Stables we love to keep our clients engaged. Our goal is to bring horse and rider
                            together through different
                            experiences, strengthening the bond between person and pony. From schooling shows to "A"
                            shows,
                            trail rides to clinics
                            we offer activities for every type of rider.
                        </p>
                        <div class="list">
                            <ul>
                                <h3>Events</h3>
                                <li>Schooling Shows</li>
                                <li>"A" Shows</li>
                                <li>Trail Rides</li>
                                <li>Clinics</li>
                                <li>Saddle up and Sip - Ladies Night</li>
                                <li>Holiday Celebrations</li>
                                <li>Dressage SHows</li>
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="events-img"></div>
                    </div>
                </div>
                <hr>
            </section>
    </div>
    <footer>
    </footer>

    <script src="/js/navbar.js"></script>
</body>

</html>